<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.text_field :name, autofocus: true %>

    <%= f.email_field :email %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <%= f.password_field :password, label: 'New password', autocomplete: "off" %>
    <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password_confirmation, label: 'New password confirmation', autocomplete: "off" %>

    <%= f.password_field :current_password, autocomplete: "off" %>
    <i>(we need your current password to confirm your changes)</i>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
