<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <%= f.fields_for :page do |page| %>
    <div class="field">
      <%= page.label :url %><br />
      <span>https://please.pet/</span><%= page.text_field :url %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div id="disclaimer" style="margin-top: 20px;" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Please note</h3>
  </div>
  <div class="panel-body">
<small>Hey there! Thank you for your interest in PleasePet.<br>
  Do note that this is a very new project and should be considered in an <b>alpha</b> state.
  Bugs, glitches, and rapidly changing features are to be expected.<br>
  You can provide feedback via the Feedback tab or <a href="mailto:pleasepet@effy.is">email</a> and I'll do my best to respond.<br>
  While efforts will be taken to ensure the privacy, security, and safety of data and users of this service, <b>the liability and responsibility for these remain with the user</b>.
  (Especially in an early alpha state where security-related bugs are more likely).<br>
  PleasePet is open source and the code may be found <a href="https://github.com/ineffyble/pleasepet">on GitHub.</a> Pull requests are very welcome.
</small>
</div>
</div>
