<h1>Edit your pet page</h1>

<%= bootstrap_form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :url %>

    <%= f.check_box :allow_anon_petting, label: "Allow anonymous petting" %>

    <%= f.select :show_petters, [["Do not show pettings", 0], ["Show recent petters", 1], ["Show recent petters with pet counts", 2]], { label: "Petter display" } %>

    <% if @page.background.url %>
      <%= image_tag(@page.background.url, size: "100") %>
    <% end %>
    <%= f.file_field :background %>

    <%= f.text_field :text_color, class: 'colorpicker' %>

  <%= f.label :sounds %>
  <ul class="list-group">
    <%= f.fields_for :noises do |noise| %>
      <li class="list-group-item">
          <%= render 'noise_fields', f: noise %>
      </li>
    <% end %>

    <%= f.fields_for :noise, Noise.new do |noise| %>
      <li class="list-group-item">
        <div class="links">
          <%= link_to_add_association 'Add noise', f, :noises %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$('.colorpicker').minicolors({theme: 'bootstrap'});
</script>
