<% pet_name = @page.pet.name || @page.url %>
<div id="pet" data-page-url="<%= @page.url %>">
  <div class="jumbotron">
    <h1 class="adaptive">Please pet <%= pet_name %></h1>
    <h2 class="adaptive"><%= pet_name %> has been petted <span id="petcount"><%= @page.pet.received_pettings_count || 0 %></span> times.</h2>
    <input type="submit" class="btn btn-primary btn-lg" value="Pet <%= pet_name %>" onClick="pet()">
  </div>

  <% if false %>

  <div class="row">
    <div class="col-md-12">
      <h2 class="adaptive">Recent pettings</h2>
    </div>
  </div>
  <div class="row" id="pettings">
      <% @page.pet.received_pettings.sort_by(&:petted_at).reverse.first(6).each do |petting| %>
        <div class="col-md-4 petting" data-petting-id="<%= petting.id %>">
          <% if petting.petter %>
            <h3 class="adaptive">Petted by <a class="adaptive" href="/<%= petting.petter.page.url %>"><%= petting.petter.name %></a></h3>
          <% else %>
            <h3 class="adaptive">Petted anonymously</h3>
          <% end %>
          <h3><small class="adaptive"><%= time_ago_in_words(petting.petted_at) %> ago</small></h3>
        </div>
      <% end %>
  </div>
  <% end %>

  <% if @page.background.exists? %>
    <style>
      body {
        background-image: url(<%= @page.background.url %>);
        background-size: cover;
        background-position: center;
      }
    </style>
  <% else %>
    <style>
      body {
        background-image: url('/backgrounds/original/missing.png');
        background-repeat: repeat;
      }
    </style>
  <% end %>

  <% if !@page.text_color.empty? %>
    <style>
      .adaptive {
        color: <%= @page.text_color %> !important;
      }
    </style>
  <% end %>

    <script>
    if ((typeof current_pet == 'undefined') || current_pet != '<%= @page.url %>') {
      <% if !@page.noises.empty? %>
      var noises = [
        <% @page.noises.each do |n| %>
          new Audio("<%= n.sound.url %>"),
        <% end %>
      ];

      function makeNoise() {
        noises[Math.floor(Math.random()*noises.length)].play();
      };
    }

    <% else %>
    function makeNoise() {
      console.log("Mew :(");
    }

    }
    <% end %>

    var current_pet = '<%= @page.url %>';

    </script>


</div>
