<p id="notice"><%= notice %></p>

<h1>Noises</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noises.each do |noise| %>
      <tr>
        <td><%= link_to 'Show', noise %></td>
        <td><%= link_to 'Edit', edit_noise_path(noise) %></td>
        <td><%= link_to 'Destroy', noise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noise', new_noise_path %>
