<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <h1>Your petters</h1>

    <ul class="list-group">
      <% @petters.each do |petter| %>
      <li class="list-group-item">
        <% if petter[0] %>
        <% pet = Pet.find(petter[0]) %>
        <%= link_to pet.name, pet.page.url %>
        <% else %>
        Anonymous
        <% end %>
        <span class="badge"><%= petter[1] %></span>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Your petted pets</h1>
    <ul class="list-group">
      <% @petted.each do |petted| %>
      <li class="list-group-item">
        <% pet = Pet.find(petted[0]) %>
        <%= link_to pet.name, pet.page.url %>
        <span class="badge"><%= petted[1] %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>
